.group-name {
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #69839b;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-group-name {
    margin-top: auto;
    margin-bottom: auto;
}
.last-name-message {
    float: left;
}
.last-message {
    color: #69839b;
    margin-top: 5px;
}
.last-time {
    float: right;
    color: #69839b;
}
.group-list-area {
    margin-left: 10px;
}
.content-area-col {
    border-left-style: solid;
    border-left-color: #1677ff;
}
.content-area {
    margin-left: 10px;
    border-style: none !important;
    color: black !important;
}

.group-list-title {
    text-align: center;
    color: #69839b;
}
.btn-chat-list {
    color: #1677ff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-chat-list:not(:disabled):hover {
    border-color: #d9d9d9;
    color: #1677ff;
}
.chat-line {
    margin-top: 10px;
}
.text-area-box {
    position: sticky;
    bottom: 0px;
    color: black;
    border-top-color: #1677ff;
    border-top-style: solid;
    border-top-width: 2px;
}

.all-row {
    height: 100%;
}
.message-content {
    border-color: rgb(0, 132, 255);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 5px;
}
.message-user {
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px;
}
