.nav-header {
  color: red !important;
  background-color: white !important;
  border-bottom-style: solid;
  border-bottom-color: #001529;
  border-bottom-width: 2px;
  line-height: 0px !important;
  display: grid;
  align-items: center;
}
.menuButton {
  float: right;
}
.nav-header ul {
  margin-top: 8px;
  height: 100%;
}
li::after {
  border-bottom-color: white !important;
}
li .ant-menu-title-content,
.ant-menu-item-icon {
  font-size: 17px !important;
}
.ant-menu > ul > li:active {
  background-color: #1677ff !important;
}

.left-horizontal-menu {
  // display: flex;
  justify-content: center;
}
.brand {
  justify-content: center;
  display: flex;
}
