.nav-header {
  color: red !important;
  background-color: white !important;
  border-bottom-style: solid;
  border-bottom-color: #001529;
  border-bottom-width: 2px;
  line-height: 0px !important;
  display: grid;
  align-items: center;
}
.left-menu {
  display: flex;
}
.menu-item {
  margin-left: 10px;
}
.right-menu {
  float: right;
}
.username {
  margin-right: 10px;
  float: left;
}
.right-down {
  margin-top: 50%;
  transform: translateY(-50%);
}
.vertical-menu {
  position: absolute;
  top: 62px;
  right: 50px;
  background-color: white;
  color: black;
  width: 150px;
  height: 150px;
  z-index: 1;
  box-shadow: 0 6px 10px 5px #888888;
  border-radius: 5px;
  font-size: 17px;
}
.vertical-item {
  margin-bottom: 15px;
  margin-left: 15px;
}
