.input-feedback {
    color: red;
}
// .ant-row {
//     @media screen and (max-width: 600px) {
//         background-color: rgb(230, 180, 173);
//     }
//     @media screen and (min-width: 600px) {
//         background-color: rgb(226, 230, 173);
//     }
// }
.me {
    background-color: white;
    // color: red;
    border-color: red;
    // @media screen and (max-width: 600px){

    // }
}
.ant-input-disabled {
    color: red;
}
.you {
    // @media screen and (max-width: 600px){
    background-color: white;
    color: red;
    border-color: red;
    // }
}
